.google-sans-flex-<uniquifier> {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fffbef;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;

  justify-content: left;

  background-color: #233864;
  padding: 0;

  height: 460px;

}

.container div {
  background-color: #bed3ff;
  margin: 10px;
  padding: 20px;

  font-size: 16px;
  font-family: "Google Sans Flex", sans-serif;

  border-radius: 25px;
  color: #233864;

  height: 20px;

}

.container div-site-title {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 200px;

  color: #FFCB69;

  position: absolute;
  left: 340px;
  top: 85px;
}

.container div-site-subtitle {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 50px;

  color: #fffbef;

  position: absolute;
  left: 630px;
  top: 300px;
}

.container2 {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: #fffbef;
  padding: 0;

  height: 1500px;
}

.container2 div1 {
  background-color: ;
  margin: 10px;
  padding: 20px;
  padding-left: 450px;

  font-size: 16px;
  font-family: "Google Sans Flex", sans-serif;

  line-height: 1.5;

  border-radius: 25px;
  color: #233864;

  max-width: 370px;
}

.container2 div2 {
  background-color: none;
  margin: 10px;
  padding: 20px;

  padding-top: 70px;

  font-size: 50px;
  font-family: "Protest Riot", sans-serif;

  border-radius: 25px;
  color: #233864;

  max-width: 500px;

}

.container2 div2sub {
  background-color: none;
  margin: 10px;
  padding: 20px;

  font-size: 16px;
  font-family: "Google Sans Flex", sans-serif;

  border-radius: 25px;
  color: #233864;

  max-width: 500px;
}

.container3 {
  display: flex;

  justify-content: space-between;

  background-color: #233864;
  padding: 0;

  height: 300px;
}

.container3 div3 {
  background-color: #bed3ff;
  margin: 10px;
  padding: 20px;

  font-size: 16px;
  font-family: "Google Sans Flex", sans-serif;

  border-radius: 25px;
  color: #233864;

  height: 20px;
}

div-left {
  position: absolute;
  top: 800px;
}

div-right {
  position: absolute;
  right: 0px;
  top: 800px;
}

div-portrait {
  position: absolute;
  top: 550px;
  left: 500px;
}

div-portrait-text {
  position: absolute;
  top: 830px;
  left: 500px;

  color: #233864;
  font-size: 58px;

  font-family: "Protest Riot", sans-serif;
}

div-portrait-text2 {
  position: absolute;
  top: 900px;
  left: 500px;

  color: #FFCB69;
  font-size: 30px;

  font-family: "Protest Riot", sans-serif;
}

span {
  color: #233864;
  font-size: 58px;

  font-family: "Protest Riot", sans-serif;

  line-height: 1;
}

.button {
  background-color: #FFCB69;
  padding: 20px;
  border-radius: 25px;
  width: 120px;
  border: none;
  box-shadow: 2.5px 5px #FBA708;

  font-family: "Google Sans Flex", sans-serif;;
  font-size: 16px;
  color: #233864;
}

.button:hover {
  background-color: #233864;
  color: #FFCB69;
  box-shadow: 2.5px 5px #000000;

  cursor: pointer;
}

.button2 {
  background-color: #FFCB69;
  padding: 20px;
  border-radius: 25px;
  width: 200px;
  height: 100px;
  border: none;
  box-shadow: 2.5px 5px #FBA708;

  font-family: "Protest Riot", sans-serif;
  font-size: 35px;
  color: #233864;
}

.button2:hover {
  background-color: #233864;
  color: #FFCB69;
  box-shadow: 2.5px 5px #000000;

  cursor: pointer;
}

.button-nav {
  background-color: #FFCB69;
  padding: 20px;
  border-radius: 25px;
  width: 150px;
  border: none;
  box-shadow: 2.5px 5px #FBA708;

  font-family: "Google Sans Flex", sans-serif;;
  font-size: 16px;
  color: #233864;
}

.button-nav:hover {
  background-color: #233864;
  color: #FFCB69;
  box-shadow: 2.5px 5px #000000;

  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

div-footer-text1 {
  font-family: "Protest Riot", sans-serif;
  font-size: 40px;
  color: #FFCB69;

  position: absolute;
  left: 400px;
  padding-top: 40px;
}

div-footer-text2 {
  font-family: "Protest Riot", sans-serif;
  font-size: 30px;
  color: #fffbef;

  position: absolute;
  left: 400px;
  padding-top: 100px;
}

div-footer-socials {
  position: absolute;
  left: 1200px;
  padding-top: 30px;
}

p2 {
  font-family: "Protest Riot", sans-serif;
  font-size: 30px;
  color: #233864;
}

.book {
  position: absolute;
  top: 550px;
  left: 400px;
}

.button3 {
  background-color: #FFCB69;
  padding: 20px;
  border-radius: 25px;
  width: 160px;

  border: none;
  box-shadow: 2.5px 5px #FBA708;

  font-family: "Google Sans Flex", sans-serif;;
  font-size: 16px;
  color: #233864;

  position: absolute;
  top: 930px;
  left: 880px;
}

.button3:hover {
  background-color: #233864;
  color: #FFCB69;
  box-shadow: 2.5px 5px #000000;

  cursor: pointer;
}

.blog {
  position: absolute;
  top: 600px;
  left: 100px;
}

.button4 {
  background-color: #FFCB69;
  padding: 20px;
  border-radius: 25px;
  width: 160px;

  border: none;
  box-shadow: 2.5px 5px #FBA708;

  font-family: "Google Sans Flex", sans-serif;;
  font-size: 16px;
  color: #233864;

  position: absolute;
  top: 1000px;
  left: 790px;
}

.button4:hover {
  background-color: #233864;
  color: #FFCB69;
  box-shadow: 2.5px 5px #000000;

  cursor: pointer;
}












